@import "tailwindcss";
@import './colors.css';

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
  }

  body {
    position: relative;
  }

  .main-container {
    position: relative;
    width: 100%;
    max-height: 100vh;
    height: 100%;
    overflow: auto;
  }

  .main-layout-content{
    max-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-container,
  .register-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* кастомний скрол */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    /* background: transparent; */
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.86);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
  }
}

/* .auth-layout {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
} */

/* .auth-layout > * {
  max-height: 100vh;
  overflow: hidden;
} */

/* added component style - just example */
/* @layer components {
  .card {
    background-color: var(--color-white);
    border-radius: var(--rounded-lg);
    padding: var(--spacing-6);
    box-shadow: var(--shadow-xl);
  }
} */

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */